* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {

    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "header header header"
        "content content sidebar"
        "content content sidebar"
        "content content sidebar"
    ;
    gap: 10px;
}

.header {
    border-radius: 5px;
    grid-area: header;
    background-color: red;
}

.content {
    border-radius: 5px;
    grid-area: content;
    background-color: blue;
}

.sidebar {
    border-radius: 5px;
    grid-area: sidebar;
    background-color: yellow;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1, 100px;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "header"
            "content"
            "content"
            "content"
            "sidebar";
    }
}